# Python
env/
venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Model checkpoints (optional if large)
checkpoints/*.pth
checkpoints/*.pt

# Logs
*.log